*.swp
package-lock.json
__pycache__
.pytest_cache
.env
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
workbook.txt
.idea
.venv
cdk.context.json
application/eth*/enclave/kms/aws-nitro-enclaves-sdk-c
key
chsm/*
output.json
application/*/enclave/kms/*
application/eth1*
application/decrypt/lambda/
keygen_*

.DS_Store

spike

lambda-output
.tmp.payload
.tmp.out

*.drawio.bkp
*.drawio.dtmp
