[Unit]
Description=Nitro Enclaves Signing Server
After=network-online.target
DefaultDependencies=no
Requires=nitro-enclaves-allocator.service
After=nitro-enclaves-allocator.service

[Service]
EnvironmentFile=/etc/environment
Type=simple
StandardOutput=journal
StandardError=journal
ExecStart=/home/ec2-user/app/watchdog.py
Restart=always
#RestartSec=5

[Install]
WantedBy=multi-user.target